
.text{
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    animation: myAnim 2s ease 0s 1 normal forwards;
    
}

label, input, textarea{
    font-size: 20px;
}

form{
    display: grid;
    grid-template-columns: 50%;
    gap: 2%;
    margin-bottom: 10%;
}

textarea{
    height: 10vh;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}

.social-links {
  display: flex;
  flex-direction: column; /* odkazy pod sebou */
  gap: 8px;
  margin-top: 15px;
  font-size: 20px;

}

.social-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  transition: color 0.2s ease;
}

.social-link img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
}

/* farby značiek pri hoveri */
.social-link:hover {
  color: #0A66C2; /* LinkedIn modrá */
}

.social-link:hover img {
  transform: scale(1.15);
}