#title{
position: absolute;
left: 50%;
top: 15%;
transform: translate(-50%, -50%);
font-family: Georgia, serif;
font-size: 6rem;
letter-spacing: 0.6px;
word-spacing: 3.6px;
color: rgb(71, 61, 61);
font-weight: normal;
font-style: oblique;
font-variant: normal;
font-weight: 600;
animation: myAnim 2s ease 0s 1 normal forwards;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 5rem;
}

.card {
  background: rgba(100, 84, 84, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 2rem 4rem;
  color: rgb(71, 61, 61);
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  transition: all 1.5s ease;
  backdrop-filter: blur(5px);
  width: 25rem;
  height: 20rem;
  align-content: center;

}

.card:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
    transform: rotateY(360deg) scale(1.05);
}

@keyframes myAnim {
  0% { transform: translate(-50%, -50%) scale(0.5); }
  100% { transform: translate(-50%, -50%) scale(1); }
}

@media (max-width: 768px) {
#title {
position: absolute;
left: 50%;
top: 15%;
transform: translate(-50%, -50%);
font-family: Georgia, serif;
font-size: 2rem;
letter-spacing: 0.6px;
word-spacing: 3.6px;
color: rgb(71, 61, 61);
font-weight: normal;
font-style: oblique;
font-variant: normal;
font-weight: 600;
animation: myAnim 2s ease 0s 1 normal forwards;
  }

  .overlay {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
  }

  .card {
    width: 90vw;
    max-width: 100px;
    height: 5.5rem;
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

}