header {
    background-image: url("/assets/titlePic.jpg");
    max-width: 100%;
    max-height: 20rem;
    text-align: center;
    align-content: center;
    
}

header {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 6rem;
}

header * {
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4); /* optional: dark overlay for better text visibility */
    z-index: 0;
}

header p{
    animation: myAnim 2s ease 0s 1 normal forwards;
}

nav{
    max-width: 100%;
    height: 3rem;
    background-color: rgb(36, 34, 34);
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    position: sticky;
    
    
}

nav a{
    text-decoration: none;
    color: antiquewhite;
    align-content: center;
    font-size: 1.5rem;
    
    
}

@keyframes myAnim {
    0% { transform: translate(0%, -50%) scale(0.2); }
    100% { transform: translate(0%, -50%) scale(1); }
}

