<header>
  <div class="overlay"></div>
  <h1>Science social app</h1>
</header>

<nav>
  <input id="menu-toogle" type="checkbox">
  <label class="menu-button-container" for="menu-toogle">
    <div class="menu-button"></div>
  </label>  
  <a routerLink="/home">Home</a>
  <a routerLink="/mainpage/about">About us</a> 
  <a routerLink="/mainpage/rooms">Rooms</a>
  <a routerLink="/mainpage/contact">Contact</a>
  <!--  Sign In / Sign Out -->
  <a *ngIf="!isLoggedIn" routerLink="/mainpage/login">Sign In</a>
  <a *ngIf="isLoggedIn" (click)="logout()" class="sign-out">Sign Out</a>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
   

   <div class="footeritems">
  <a routerLink="/home">home</a>
  <a routerLink="/mainpage/about">about us</a> 
  <a routerLink="/mainpage/rooms">rooms</a>
  <a routerLink="/mainpage/contact">contact</a>
  <a *ngIf="!isLoggedIn" routerLink="/mainpage/login">sign in</a>
  <a *ngIf="isLoggedIn" (click)="logout()">sign out</a>
</div>

   <div class="footeritems">
    <a (click)="navigateTo('help')">help</a>
    <a (click)="navigateTo('faq')">faq</a>
    <a (click)="navigateTo('cookies')">cookies</a>
    <a (click)="navigateTo('impressum')">impressum</a>
   </div>

    <div class="footeritems">
    <a href="https://www.linkedin.com/in/patrik-demjan-90602429b/" target="_blank">
        <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/patodemjan/" target="_blank">
        <i class="fab fa-github"></i> GitHub
    </a>
    <a href="mailto:patodemjan@gmail.com">
        <i class="fas fa-envelope"></i> Email
    </a>
</div>


    
    <span id="allrights">
        <p>© 2025 Patrik Demjan. All rights reserved.</p>
    </span>
</footer>