header {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2rem;
    height: 25vh;
    width: 100%;
}

header h1 {
    margin-top: 0;
    text-shadow: 2px 2px 6px black;
}

#chat {
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-top: 1%;
    border: 3px inset;
    height: 35vh;
    overflow-y: scroll;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
}

.chat-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3%;
  margin-bottom: 2%;
}

#chatInput, .topic-input {
  width: 100%;
  font-size: large;
  padding: 6px;
}

#send, .topic-button {
  width: 180px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(36, 34, 34);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

#topicList {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-top: 1%;
    border: 3px inset;
    height: 35vh;
    overflow-y: scroll;
    font-size: large;
    font-weight: bold;
    align-items: center;
}

#topic {
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-top: 1%;
    border: 3px inset;
    height: 35vh;
    overflow-y: scroll;
    padding-left: 3%;
    padding-right: 3%;
}

#topic .post .topic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topic .post .author {
  font-weight: bold;
}

/* STRIEDAVÉ POZADIE PRE PRÍSPEVKY */
#chat .chat-post:nth-child(odd),
#topic .posts .post:nth-child(odd),
#topicList ul li:nth-child(odd) {
    background-color: #f2f2f2;
}

#chat .chat-post:nth-child(even),
#topic .posts .post:nth-child(even),
#topicList ul li:nth-child(even) {
    background-color: #e0e0e0;
}

.chat-post {
    padding: 6px 10px;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header .author {
    font-weight: bold;
}

.chat-header .time {
    font-size: 0.85rem;
    color: #555;
    padding-right: 2%;
}

.buttons {
  width: 180px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(36, 34, 34);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 2%;
  margin-bottom: 2%;
}

.buttons-top {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
  justify-content: flex-end;
  gap: 2%;
}


footer {
    max-width: 100vw;
    height: 25vh;
    background-color: rgb(36, 34, 34);
    color: antiquewhite;
    bottom: 0;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between; 
    position: static; 
    border: 1px double;
}

footer a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.3rem;  
}

.footeritems {
    display: flex;
    flex-direction: column;
}

#allrights {
    display: flex;
    position: absolute;
    text-align:left;
    left: 2%;
    align-self: flex-end;
    align-content: center;
}

a.sign-out {
    cursor: pointer;
}

.tabs {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  gap: 2%;
}

#chatInput, .topic-input {
  width: 100%;
  font-size: large;
  padding: 6px;
}

#send, .topic-button {
  width: 180px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(36, 34, 34);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.tabs button {
  flex: 1;
  padding: 12px 0;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(36, 34, 34);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.tabs button.active {
  background-color: rgb(20, 20, 20);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        height: 35vh;
    }
}
