header {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2rem;
    height: 25vh;
    width: 100%;
}

header h1 {
    margin-top: 0;
    text-shadow: 2px 2px 6px black;
}

#chat {
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    border: 3px inset;
    height: 35vh;
    overflow-y: scroll;
    padding-left: 2%;
    padding-top: 2%;
}

#topicList {
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    border: 3px inset;
    height: 35vh;
    overflow-y: scroll;
}

#topic {
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    border: 3px inset;
    height: 35vh;
    overflow-y: scroll;
}

/* STRIEDAVÉ POZADIE PRE PRÍSPEVKY */
#chat .chat-post:nth-child(odd),
#topic .posts .post:nth-child(odd),
#topicList ul li:nth-child(odd) {
    background-color: #f2f2f2; /* svetlo sivá */
}

#chat .chat-post:nth-child(even),
#topic .posts .post:nth-child(even),
#topicList ul li:nth-child(even) {
    background-color: #e0e0e0; /* trošku tmavšia sivá */
}

.buttons{
  
  width: 180px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(36, 34, 34);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 2%;
  margin-bottom: 2%;
  
  
}

.buttons-top{
  display: flex;
  flex-direction: row;
  margin-right: 10%;
  
}

footer {
    max-width: 100vw;
    height: 25vh;
    background-color: rgb(36, 34, 34);
    color: antiquewhite;
    bottom: 0;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between; 
    position: static; 
    border: 1px double;
}

footer a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.3rem;  
}

.footeritems{
    display: flex;
    flex-direction: column;
}

#allrights {
    display: flex;
    position: absolute;
    text-align:left;
    left: 2%;
    align-self: flex-end;
    align-content: center;
}

a.sign-out {
    cursor: pointer;
}

@media (max-width: 768px) {
    header {
        height: 35vh;
    }
}
