
.text{
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    
    
}

.text h1{
    animation: myAnim2 2s ease 0s 1 normal forwards;
}

.text p{
    font-size: 20px;
    text-align: justify;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.text ul{
    font-size: 20px;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}

@keyframes myAnim2 {
	0% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

@media (max-width: 768px) {


.text ul{
    font-size: 20px;
    animation: myAnim 2s ease 0s 1 normal forwards;
    margin: 0;
    padding: 0;
    text-align: justify;
    list-style: none;
}

}