<div class="text">
    <h1>About us</h1>
    <p>ScienceSocialApp is an interactive platform designed for scientists, researchers, and curious minds who want to share knowledge, discuss scientific topics, and explore cutting-edge discoveries.
    Users can create and join science-themed discussions, post opinions and comments, and share educational videos or other research materials.</p>
    <p>Whether you're looking to find reliable scientific information, collaborate with others, or simply stay informed about the latest in science, ScienceSocialApp provides a space for open communication and community-driven learning.</p>
    <ul>
     <strong>Key features</strong>
    <ul>
      <li>💬 Chat and exchange ideas with other science enthusiasts</li>
      <li>🔍 Search and discover scientific content and discussions</li>
      <li>📚 Create and manage topics on various branches of science</li>
      <li>🎥 Add and share science-related videos and resources</li>
      <li>💡 Comment, debate, and contribute your perspective</li>
    </ul>
    </ul>
    
    <p>Join the growing community and help make science more social!</p>
</div>